<!-- <p>header works!</p> -->
<!-- <div fxFlex fxLayout="column" style="background-color: brown;">
this is flexlayout
</div> -->
<mat-toolbar color='primary'>
    <mat-toolbar-row >
        <span ><mat-icon>menu</mat-icon> Billsoft </span>
     
            <div  fxLayout="row" fxFlex="95%" fxLayoutAlign='flex-end'  >
                <span fxLayoutGap="5px">
                 <a routerLink="/product" > <button mat-stroked-button color='accent'> Product</button></a> 
                   <a routerLink="/client">  <button mat-stroked-button color='accent'> Customer</button> </a>
                <!-- <mat-icon>person</mat-icon> -->
                <mat-icon>person</mat-icon>
                </span>
            </div>
       
    </mat-toolbar-row>

</mat-toolbar>