 <div fxLayout.xs="column">
    <mat-drawer-container class="example-container" autosize>

        
    <mat-drawer #drawer class="example-sidenav" mode="side" opened>
      <mat-nav-list>
        <a active mat-list-item routerLink='/'><mat-icon>home</mat-icon>Dashboard</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink='/ClientProduct'><mat-icon>people</mat-icon>CliProd</a>
        <mat-divider></mat-divider>
        <a mat-list-item><mat-icon>home</mat-icon> Home</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink='#'><mat-icon>home</mat-icon>Clients</a>
        <mat-divider></mat-divider>
        <a mat-list-item><mat-icon>people</mat-icon> Home</a>
        <mat-divider></mat-divider>
        <a mat-list-item><mat-icon>group</mat-icon> Home</a>
    </mat-nav-list>

    </mat-drawer>
<!--   
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div>
   -->
  </mat-drawer-container>
</div>
<!-- <div class="container">

    <mat-nav-list>
        <a mat-list-item routerLink='#'><mat-icon>home</mat-icon>Home</a>
        <mat-divider></mat-divider>
        <a mat-list-item><mat-icon>people</mat-icon>Customer</a>
        <mat-divider></mat-divider>
        <a mat-list-item><mat-icon>home</mat-icon> Home</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink='#'><mat-icon>home</mat-icon>Clients</a>
        <mat-divider></mat-divider>
        <a mat-list-item><mat-icon>people</mat-icon> Home</a>
        <mat-divider></mat-divider>
        <a mat-list-item><mat-icon>group</mat-icon> Home</a>
    </mat-nav-list>
</div>  -->