:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}
mat-drawer{
    width: 150px;
    /* border: 1px solid black; */
}
mat-drawer-container{
    /* border: 1px solid black;
    background-color: burlywood; */
    height:100%
}
mat-drawer-content{
    padding:20px;
}